<div data-bind="if: loaded">

  <div id='save'>
    <h3 class='pull-left'>
      <div data-bind="text: day_info().formatted_date()"></div>
      <small> Open <span data-bind="text: timeOfDay(day_info().open_time())"></span> - <span data-bind="text: timeOfDay(day_info().close_time())"></span></small>
    </h3>

    <div id='statistics' class='col-sm-8'>
      <%= render 'grades/header_without_hours' %>

      <div data-bind="if: loaded">
        <div data-bind="template: {name: 'analysis-line-without-hours', data: day_info().analysis()}"></div>
      </div>
    </div>

    <div id='actions' class='pull-right'>
      <%= action_links @location_plan %>
      <%= state_label @location_plan %>

      <button data-bind='visible: grade().editable'
              data-bind='click: save' class='btn btn-default'>
        <span class='glyphicon glyphicon-refresh'></span> Save and Recalculate
      </button>
    </div>
  </div>

  <div data-bind="ifnot: grade().editable">
    <div id='positions' data-bind="foreach: positions">
      <h5 data-bind="text: name"></h5>

      <div class='totals'>
        <h5>
          <span data-bind="text: hours()"></span> <small>hrs</small>
          (<span data-bind="text: cost()">$249</span></span>)
        </h5>
      </div>

      <div class='shifts' data-bind="foreach: shifts">
        <div class="row form-inline form-group">
          <div class="col-sm-3">
            <span data-bind="text: timeOfDay(starts())"></span> - <span data-bind="text: timeOfDay(ends())"></span>
          </div>

          <div class="totals">
            <h5>
              <span data-bind="text: hours()"></span> <small>hrs</small>
              (<span data-bind="text: patients_per_hour()"></span> <small>pph</small>)
            </h5>
          </div>

          <div class="col-sm-8 shift-bar" data-bind="style: {width: shift_bar_width(), marginLeft: shift_bar_offset()}">
            <div></div>
          </div>
          <br>
        </div>
      </div> <!-- foreach: shifts -->

    </div> <!-- foreach: positions -->

  </div>

  <div data-bind="if: grade().editable">
    <div id='positions' data-bind="foreach: positions">
      <h5 data-bind="text: name"></h5>

      <div class='totals'>
        <h5>
          <span data-bind="text: hours()"></span> <small>hrs</small>
          (<span data-bind="text: cost()">$249</span></span>)
        </h5>
      </div>

      <div class='shifts' data-bind="foreach: shifts">
        <div class="row form-inline form-group">
          <div class="col-sm-3">
            <a href="#" data-bind="click: $parent.removeShift">
              <span class="glyphicon glyphicon-remove"></span>
            </a>

            <select class="form-control" data-bind="options: $root.available_times(), value: starts, optionsText: 'formatted', optionsValue: 'num'"></select>
            &mdash;
            <select class="form-control" data-bind="options: $root.available_times(), value: ends, optionsText: 'formatted', optionsValue: 'num'"></select>
          </div>

          <div class="totals">
            <h5>
              <span data-bind="text: hours()"></span> <small>hrs</small>
              (<span data-bind="text: patients_per_hour()"></span> <small>pph</small>)
            </h5>
          </div>

          <div class="col-sm-8 shift-bar" data-bind="style: {width: shift_bar_width(), marginLeft: shift_bar_offset()}">
            <div></div>
          </div>
          <br>
        </div>

      </div> <!-- foreach: shifts -->

      <a class='add' href="#" data-bind="click: addShift">
        <span class="glyphicon glyphicon-plus"></span>
        Add <span data-bind="text: name"></span> Shift
      </a>
    </div> <!-- foreach: positions -->
  </div>
</div>

