<div class="row">
  <div class="col-sm-4 text-center"><h4><small>Hours (wages)</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Patient Sat</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Physician Sat</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Physician Slack</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Total Efficiency</small></h4></div>
</div>
