<div class="row">
  <div class="col-sm-4 text-center"><h4><small>Physician Hours</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Patient Sat</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Physician Sat</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Cost Score</small></h4></div>
  <div class="col-sm-2 text-center"><h4><small>Overall</small></h4></div>
</div>
