<div class="row">
  <div class="col-sm-3 text-center"><h4><small>Patient Sat</small></h4></div>
  <div class="col-sm-3 text-center"><h4><small>Physician Sat</small></h4></div>
  <div class="col-sm-3 text-center"><h4><small>Physician Slack</small></h4></div>
  <div class="col-sm-3 text-center"><h4><small>Total Efficiency</small></h4></div>
</div>
