<%= render 'grades/header' %>

<div class="row">
  <div class="col-sm-4 text-center">
    <h4><span data-bind="text: grade_hours()"></span><small> hours</small></h4>
    <div data-bind="if: $root.diff_grade_hours">
      <span data-bind="text: diffFormat($root.diff_grade_hours(), false), css: diffClass($root.diff_grade_hours())"></span>
    </div>
    <%= life_cycle_info(@location_plan) %>
  </div>
  <div data-bind="with: grade_points">
    <div class="col-sm-2 text-center">
      <h4>A<span class="letter-grade">-</span> <small>(<span data-bind="text: toCurrency(patient_sat())"></span>)</small></h4>
      <div data-bind="if: $root.diff_grade_points">
        <span data-bind="text: diffFormat($root.diff_grade_points().patient_sat()), css: diffClass($root.diff_grade_points().patient_sat())"></span>
      </div>
    </div>
    <div class="col-sm-2 text-center">
      <h4>B<span class="letter-grade">+</span> <small>(<span data-bind="text: toCurrency(md_sat())"></span>)</small></h4>
      <div data-bind="if: $root.diff_grade_points">
        <span data-bind="text: diffFormat($root.diff_grade_points().md_sat()), css: diffClass($root.diff_grade_points().md_sat())"></span>
      </div>
    </div>
    <div class="col-sm-2 text-center">
      <h4>B<span class="letter-grade">-</span> <small>(<span data-bind="text: toCurrency(cost())"></span>)</small></h4>
      <div data-bind="if: $root.diff_grade_points">
        <span data-bind="text: diffFormat($root.diff_grade_points().cost()), css: diffClass($root.diff_grade_points().cost())"></span>
      </div>
    </div>
    <div class="col-sm-2 text-center">
      <h4>B<span class="letter-grade"></span> <small>(<span data-bind="text: toCurrency(total())"></span>)</small></h4>
      <div data-bind="if: $root.diff_grade_points">
        <span data-bind="text: diffFormat($root.diff_grade_points().total()), css: diffClass($root.diff_grade_points().total())">
        </span>
      </div>
    </div>
  </div>
</div>
