<div data-bind="if: loaded">
  <div class="row">
    <div class="col-sm-3">
      <h3>
        <span data-bind="text: day_info().formatted_date()"></span><br>
        <small> (Open <span data-bind="text: timeOfDay(day_info().open_time())"></span> - <span data-bind="text: timeOfDay(day_info().close_time())"></span>)</small>
      </h3>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <div class="col-sm-4">

        <h5 class="text-center"><span data-bind="text: day_hours()"></span><small> (<span data-bind="text: $root.wages "></span>)</small></h5>

        <h5 class="text-left"><small>Efficiency grades:</small></h5>

        <%- if !@grade.optimizer? -%>
          <row class="clearfix">
            <h5 class="pull-left compressed"><small>Vs. Optimized:</small></h5>
            <h5 data-bind="with: day_opt_diff" class="text-right compressed">
              <span data-bind="text: diffFormat(hours(), false), css: diffClass(hours())" ></span>
            </h5>
          </row>
        <%- end -%>
      </div>

      <div data-bind="with: day_points">
        <div class="col-sm-2 text-center">
          <h5><span data-bind="text: $root.total_wait "></span><small> wait mins</small></h5>
          <h5>
            <span data-bind="text: $root.day_letters().patient_sat()"></span>
            <small> (<span data-bind="text: toCurrency(patient_sat())"></span>)</small>
          </h5>
          <%- if !@grade.optimizer? -%>
          <h5><span data-bind="text: diffFormat($root.day_opt_diff().patient_sat()), css: diffClass( $root.day_opt_diff().patient_sat())" ></span></h5>
          <%- end -%>
        </div>
        <div class="col-sm-2 text-center">
          <h5><span data-bind="text: $root.work_rate "></span><small> pats per hr</small></h5>
          <h5>
            <span data-bind="text: $root.day_letters().md_sat()"></span>
            <small> (<span data-bind="text: toCurrency(md_sat())"></span>)</small>
          </h5>
          <%- if !@grade.optimizer? -%>
          <h5><span data-bind="text: diffFormat($root.day_opt_diff().md_sat()), css: diffClass( $root.day_opt_diff().md_sat())" ></span></h5>
          <%- end -%>
        </div>
        <div class="col-sm-2 text-center">
          <h5><span data-bind="text: $root.time_wasted"></span><small> wasted mins</small></h5>
          <h5>
            <span data-bind="text: $root.day_letters().cost()"></span>
            <small> (<span data-bind="text: toCurrency(cost())"></span>)</small>
          </h5>
          <%- if !@grade.optimizer? -%>
          <h5><span data-bind="text: diffFormat($root.day_opt_diff().cost()), css: diffClass( $root.day_opt_diff().cost())" ></span></h5>
          <%- end -%>
        </div>
        <div class="col-sm-2 text-center">
          <h5><span data-bind="text: $root.pat_waste"></span><small> waste per pat</small></h5>
          <h5>
            <span data-bind="text: $root.day_letters().total() "></span>
            <small> (<span data-bind="text: toCurrency(total())"></span>)</small>
          </h5>
          <%- if !@grade.optimizer? -%>
          <h5><span data-bind="text: diffFormat($root.day_opt_diff().total()), css: diffClass( $root.day_opt_diff().total())" ></span></h5>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>

  <div data-bind="ifnot: editable">
    <div data-bind="foreach: shifts">
      <div class="row form-inline  form-group">
        <div class="col-sm-4">
         <span data-bind="text: timeOfDay(starts())"></span> - <span data-bind="text: timeOfDay(ends())"></span>
        </div>
        <div class="col-sm-3 text-center">
          <h5><span data-bind="text: hours()"></span><small> hrs</small></h5>
        </div>
      </div>
    </div>
  </div>

  <div data-bind="if: editable">
    <div data-bind="foreach: shifts">
      <div class="row form-inline form-group">
        <div class="col-sm-4">
          <a href="#" data-bind="click: $root.removeShift">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
          <select class="form-control" data-bind="options: $root.available_times(), value: starts, optionsText: 'formatted', optionsValue: 'num'"></select>
          &mdash;
          <select class="form-control" data-bind="options: $root.available_times(), value: ends, optionsText: 'formatted', optionsValue: 'num'"></select>
        </div>
        <div class="col-sm-3 text-center">
          <h5><span data-bind="text: hours()"></span><small> hrs</small></h5>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 form-group">
        <a href="#" data-bind="click: addShift">
          <span class="glyphicon glyphicon-plus"></span> Add Shift
        </a>
      </div>
      <div class="pull-right">
        <button data-bind="click: save" class="btn btn-default">
          <span class="glyphicon glyphicon-refresh"></span> Save and Recalculate
        </button>
      </div>
    </div>
  </div>
</div>

<div id="highcharts-container" style="width: 100%; height: 400px; margin: 0 auto"></div>
