<h1>Plan to push data to When I Work</h1>

<div class="pull-right">
  <%= link_to pushes_path(location_plan_id: @location_plan), method: :post, class: 'btn btn-success' do %>
    Execute
    <span class="glyphicon glyphicon-chevron-right"></span>
  <% end %>
</div>

<%= render 'push', push: @push %>
