<%provide(:title, 'Staffing Analyst')%>
<h1>Staffing Analyst</h1>

<br>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">Schedule Generation Settings</h3>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6">
        <h3>
        	<li>Non-physician rules</li>
        	<br>
        	<li><%= link_to 'Positions', positions_path %></li>
	        <br>
        	<li><%= link_to 'Heatmaps', heatmaps_path %></li>
        	<br>
	        <li><%= link_to 'Volume Forecasts', patient_volume_forecasts_path %></li>
	        <br>
	        <li><%= link_to 'Life Cycles', life_cycles_path %>  <small>(perhaps no longer relevant)</small></li>
	      </h3>
      </div>
    </div>

  </div>

</div>
