<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My To Dos</h3>
  </div>
    <% if @todos.empty? -%>
      <div class="panel-body">
        No to dos!
      </div>
    <% else -%>
      <ul class="list-group">
        <% @todos.each do |todo| -%>
          <li class="list-group-item"><%= link_to todo.name, todo %>
          <span class="pull-right"><%= deadline_label(current_user, todo) %></span>
          </li>
        <% end -%>
      </ul>
    <% end -%>
</div>
