<h1>Dashboard</h1>

<p>Currently <%= Sidekiq::Queue.new.size %> background jobs queued.  The oldest job is <%= Sidekiq::Queue.new.latency %> seconds old</p>
<p>There are <%= Sidekiq::ProcessSet.new.size %> active processes</p>
