<%provide(:title, 'Dashboard')%>
<h1>Dashboard</h1>

<%= render 'header' %>

<div class="row">
  <div class="col-lg-6">
    <%= render 'my_todos' %>
  </div>

  <% if @minions -%>
    <div class="col-lg-6">
      <%= render 'others' %>
    </div>
  <% end -%>
</div>
