<%provide(:title, 'Dashboard')%>
<h1>Dashboard</h1>

<div class="row">
  <div class="col-lg-6">
    <h2>My Todos</h2>

    <% if @todos.empty? -%>
      No todos!
    <% else -%>
      <% @todos.each do |todo| -%>
        <%= link_to todo.name, todo %>
        <%= deadline_label(current_user, todo) %>
      <% end -%>
    <% end -%>
  </div>

  <% if @minion_status -%>
    <div class="col-lg-6">

    </div>
  <% end -%>
</div>
