<%provide(:title, 'All Positions')%>

<h1>Positions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Position Name</th>
      <th colspan="2">Hourly Rate</th>
      <th colspan="2">WIW ID</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= link_to position.name, edit_position_path(position) %></td>
        <td><%= '$' + position.hourly_rate.to_s %></td>
        <td colspan="2"><%= position.wiw_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>