<%provide(:title, 'Staffing Analyst')%>
<h1>Staffing Analyst</h1>

<br>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">Schedule Generation Settings</h3>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6">
        <h3>
          <li><%= link_to 'Positions & Wages', positions_path %></li>
          <br>
        	<li><%= link_to "Non-Physician Staffing Rules", default_rules_path %></li>
	      </h3>
      </div>
    </div>

  </div>

</div>
