<div class="row">
  <div class="col-sm-2">
    <img class="thumbnail hidden-xs" alt="avatar" data-bind="attr: {src: user_avatar_url}">
  </div>
  <div class="col-sm-8">
    <blockquote>

      <p><span data-bind="text: body()"></span></p>

      <footer><span data-bind="text: user_name()"></span> @ <span data-bind="text: timestamp()"></span></footer>
    </blockquote>
  </div>
</div>
