---
http_interactions:
- request:
    method: get
    uri: https://api.citymd.com/rio/authenticate?password=CitymdRio&username=Rio
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: e788575e-3b92-4b56-8777-7aba8af409d5
  recorded_at: Tue, 29 Jul 2014 20:37:12 GMT
- request:
    method: get
    uri: https://api.citymd.com/rio/patientload?enddate=2014-07-01&servicesiteuid=414F0BD3-0460-405D-9136-0F16DB212BA9&sessionID=e788575e-3b92-4b56-8777-7aba8af409d5&startdate=2014-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Name":"CityMD 57th St","ServiceSiteUid":"414f0bd3-0460-405d-9136-0f16db212ba9","VisitDay":3,"VisitHour":"08:00:00","VisitCount":6.000000},{"Name":"CityMD
        57th St","ServiceSiteUid":"414f0bd3-0460-405d-9136-0f16db212ba9","VisitDay":3,"VisitHour":"08:30:00","VisitCount":3.000000},{"Name":"CityMD
        57th St","ServiceSiteUid":"414f0bd3-0460-405d-9136-0f16db212ba9","VisitDay":3,"VisitHour":"08:45:00","VisitCount":2.000000},{"Name":"CityMD
        57th St","ServiceSiteUid":"414f0bd3-0460-405d-9136-0f16db212ba9","VisitDay":3,"VisitHour":"09:15:00","VisitCount":2.000000},{"Name":"CityMD
        57th St","ServiceSiteU[...]
