---
http_interactions:
- request:
    method: get
    uri: https://api.citymd.com/rio/authenticate?password=CitymdRio&username=Rio
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: dbcfe99a-6ce4-4466-bf27-7eaac09036bc
  recorded_at: Tue, 29 Jul 2014 20:37:22 GMT
- request:
    method: get
    uri: https://api.citymd.com/rio/patientload?enddate=2014-07-01&servicesiteuid=ALL&sessionID=dbcfe99a-6ce4-4466-bf27-7eaac09036bc&startdate=2014-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Name":"CityMD 14th St","ServiceSiteUid":"3ecc8854-f77b-4834-b42f-6b0e4d498b43","VisitDay":3,"VisitHour":"08:00:00","VisitCount":5.000000},{"Name":"CityMD
        14th St","ServiceSiteUid":"3ecc8854-f77b-4834-b42f-6b0e4d498b43","VisitDay":3,"VisitHour":"08:15:00","VisitCount":4.000000},{"Name":"CityMD
        14th St","ServiceSiteUid":"3ecc8854-f77b-4834-b42f-6b0e4d498b43","VisitDay":3,"VisitHour":"08:30:00","VisitCount":3.000000},{"Name":"CityMD
        14th St","ServiceSiteUid":"3ecc8854-f77b-4834-b42f-6b0e4d498b43","VisitDay":3,"VisitHour":"08:45:00","VisitCount":2.000000},{"Name":"CityMD
        14th St","ServiceSiteU[...]
