---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts/?end=2015-01-01T00:00:00-05:00&include_allopen=true&include_pending=true&location_id=153524&start=2014-12-01T00:00:00-05:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - d1a42f5a3f2106497f98b4a0d5e2b313be7e18f7
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"start":"Mon, 01 Dec 2014 00:00:00 -0500","end":"Thu, 01 Jan 2015
        00:00:00 -0500","shifts":[{"id":71688592,"account_id":100312,"user_id":1690000,"location_id":153524,"position_id":867220,"site_id":0,"start_time":"Sun,
        07 Dec 2014 01:00:00 -0500","end_time":"Sun, 07 Dec 2014 11:00:00 -0500","break_time":0,"color":"999999","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Thu,
        30 Oct 2014 17:17:17 -0400","notified_at":"Tue, 29 Nov -001 19:00:00 -0500","instances":1,"created_at":"Thu,
        30 Oct 2014 17:17:17 -0400","updated_at":"Thu, 30 Oct 2014 17:17:17 -0400","acknowledged":0,"is_open":false,"actionable":false,"block_id":0},{"id":71687728,"account_id":100312,"user_id":1689991,"location_id":153524,"position_id":867214,"site_id":0,"start_time":"Sun,
        07 Dec 2014 02:00:00 -0500","end_time":"Sun, 07 Dec 2014 20:00:00 -0500","break_time":0,"color":"999999","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Thu,
        30 Oct 2014 17:15:49 -0400","notified_at":"Tue, 29 Nov -001 19:00:00 -0500","instances":1,"created_at":"Thu,
        30 Oct 2014 17:15:49 -0400[...]
