---
http_interactions:
- request:
    method: post
    uri: https://api.wheniwork.com/2/shifts
    body:
      encoding: UTF-8
      string: '{"location_id":"153524","position_id":680362,"start_time":"2014-07-21T22:00:00-04:00","end_time":"2014-07-22T06:00:00-04:00"}'
    headers:
      W-Token:
      - d1a42f5a3f2106497f98b4a0d5e2b313be7e18f7
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"shift":{"id":42448351,"account_id":100312,"user_id":0,"location_id":153524,"position_id":680362,"site_id":0,"start_time":"Mon,
        21 Jul 2014 21:00:00 -0500","end_time":"Tue, 22 Jul 2014 05:00:00 -0500","break_time":0,"color":"cccccc","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":false,"published_date":"Tue,
        29 Nov -001 18:00:00 -0600","notified_at":"Tue, 29 Nov -001 18:00:00 -0600","created_at":"Mon,
        21 Jul 2014 20:27:34 -0500","updated_at":"Mon, 21 Jul 2014 20:27:34 -0500","acknowledged":0,"is_open":true,"actionable":false,"block_id":0},"locations":[{"id":153524,"account_id":100312,"is_default":0,"name":"CityMD_14th_St","sort":0,"max_hours":0,"address":"","coordinates":[],"latitude":0,"longitude":0,"ip_address":"","created_at":"Tue,
        08 Jul 2014 15:51:04 -0500","updated_at":"Mon, 21 Jul 2014 15:30:54 -0500","is_deleted":false}],"positions":[{"id":680362,"account_id":100312,"name":"Doctor","color":"","sort":0,"created_at":"Tue,
        08 Jul 2014 15:51:25 -0500","updated_at":"Tue, 08 Jul 2014 15:51:25 -0500","is_deleted":false}]}'
  recorded_at: Tue, 22 Jul 2014 01:27:34 GMT
recorded_with: VCR 2.9.2
