---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts/?end=2014-08-01T00:00:00-04:00&include_allopen=true&include_pending=true&location_id=153524&position_id=680362&start=2014-07-01T00:00:00-04:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - d1a42f5a3f2106497f98b4a0d5e2b313be7e18f7
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"start":"Tue, 01 Jul 2014 00:00:00 -0400","end":"Fri, 01 Aug 2014
        00:00:00 -0400","shifts":[{"id":40210383,"account_id":100312,"user_id":937888,"location_id":153524,"position_id":680362,"site_id":0,"start_time":"Tue,
        08 Jul 2014 09:00:00 -0400","end_time":"Tue, 08 Jul 2014 18:00:00 -0400","break_time":0,"color":"999999","notes":"","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Tue,
        08 Jul 2014 16:53:57 -0400","notified_at":"Tue, 08 Jul 2014 16:53:57 -0400","created_at":"Tue,
        08 Jul 2014 16:52:31 -0400","updated_at":"Tue, 08 Jul 2014 16:53:57 -0400","acknowledged":0,"is_open":false,"actionable":false,"block_id":0},{"id":41235430,"account_id":100312,"user_id":937888,"location_id":153524,"position_id":680362,"site_id":0,"start_time":"Fri,
        18 Jul 2014 10:00:00 -0400","end_time":"Fri, 18 Jul 2014 16:00:00 -0400","break_time":0,"color":"999999","notes":"","alerted":true,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Thu,
        17 Jul 2014 11:11:21 -0400","notified_at":"Thu, 17 Jul 2014 11:11:22 -0400","created_at":"Thu,
        17 Jul 2014 11:11:19 -0400","updated_at":"Fri, 18 Jul 2014 08:01:04 -0400","acknowledged":0,"is_open":false,"actionable":false,"block_id":0}],"users":[{"id":937888,"account_id":100312,"login_id":305200,"timezone_id":0,"country_id":233,"migration_id":0,"role":1,"is_payroll":false,"is_trusted":0,"type":1,"email":"tosbi@imgof.com","first_name":"Abe","last_name":"Vigoda","phone_number":"","employee_code":"","avatar":{"url":"http:\/\/avatar.wheniwork.com\/wiw\/f1bbf8c735fdd75a2f5def81bd435880.png?s=%s&t=937888","size":"%s"},"password":false,"activated":true,"is_hidden":false,"uuid":"0ce57ed0709a797f03078140f16841d4267cbc23","notes":"","affiliate":0,"is_private":true,"infotips":"","hours_preferred":0,"hours_max":40,"hourly_rate":0,"alert_settings":{"timeoff":{"sms":false,"email":true},"swaps":{"sms":false,"email":true},"schedule":{"sms":false,"email":true},"reminders":{"sms":false,"email":true},"availability":{"sms":false,"email":true},"new_employee":{"sms":false,"email":true},"attendance":{"sms":false,"email":false}},"reminder_time":2,"sleep_start":"23:00:00","sleep_end":"05:00:00","my_positions":[],"last_login":"Mon,
        21 Jul 2014 21:09:08 -0400","notified_at":"Tue, 08 Jul 2014 17:25:38 -0400","created_at":"Tue,
        08 Jul 2014 16:51:01 -0400","updated_at":"Tue, 08 Jul 2014 17:31:08 -0400","is_deleted":false,"login_email":"tosbi@imgof.com","country_code":"US","timezone_name":"America\/New_York","positions":[],"locations":[153524],"position_rates":[],"position_quality":[],"sort":{"153524":0}}],"locations":[{"id":153524,"account_id":100312,"is_default":0,"name":"CityMD_14th_St","sort":0,"max_hours":0,"address":"","coordinates":[],"latitude":0,"longitude":0,"ip_address":"","created_at":"Tue,
        08 Jul 2014 16:51:04 -0400","updated_at":"Mon, 21 Jul 2014 16:30:54 -0400","is_deleted":false}],"positions":[{"id":680362,"account_id":100312,"name":"Doctor","color":"","sort":0,"created_at":"Tue,
        08 Jul 2014 16:51:25 -0400","updated_at":"Tue, 08 Jul 2014 16:51:25 -0400","is_deleted":false}]}'
  recorded_at: Tue, 22 Jul 2014 15:30:40 GMT
recorded_with: VCR 2.9.2
