<h1>Non-Physician Shifts</h1>

<h3><%= @location_plan.name %></h3>

<div class="row">
  <div class="col-md-3">
    <%= render 'location_plans/daygrid' %>
  </div>
</div>

<div class="row">
  <div data-bind="if: loaded">
    <div data-bind="foreach: shifts">
      <div class="row form-inline form-group">
        <div class="col-sm-3">
          <a href="#" data-bind="click: $root.removeShift">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
          <select class="form-control input-sm" data-bind="options: $root.available_times(), value: starts,
          optionsText: 'formatted', optionsValue: 'num'"></select>
          &mdash;
          <select class="form-control input-sm" data-bind="options: $root.available_times(), value: ends,
          optionsText: 'formatted', optionsValue: 'num'"></select>
        </div>
        <div class="col-sm-2">
          <h5>
            <span class="text-left" data-bind="text: position_name()"></span>
            <span class="text-right" data-bind="text: hours()"></span><small> hrs</small>
          </h5>
        </div>
        <div class="col-sm-6">
          <div class="shift-bar" data-bind="style: {width: shift_bar_width(), marginLeft: shift_bar_offset()}"></div>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 form-group">
        <a href="#" data-bind="click: addShift">
          <span class="glyphicon glyphicon-plus"></span> Add Shift
        </a>
      </div>
      <div class="pull-right">
        <!--<button data-bind="click: save" class="btn btn-default">-->
          <!--<span class="glyphicon glyphicon-refresh"></span> Save and Recalculate-->
        <!--</button>-->
      </div>
    </div>
  </div>
</div>

