<%provide(:title, 'Edit Schedule')%>

<h1>Editing schedule</h1>

<div class="alert alert-danger">
  Editing the weights of an existing schedule WILL result in undefined behavior!<br><br>
  Until this is addressed, you are better off deleting this whole schedule and generating a new one!
</div>

<%= render 'form' %>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Destroy', @schedule, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', schedules_path %>
