<%provide(:title, 'All Schedules')%>

<h1>
  Schedules
  <% if policy(Schedule).new? -%>
    <div class="pull-right">
      <%= link_to new_schedule_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"> </span> New Schedule
      <% end %>
    </div>
  <% end -%>
</h1>

<% @schedules.each do |schedule| %>
  <%= render schedule, heading: true %>
<% end %>

<br>

<%= paginate @schedules %>
