<%provide(:title, 'All Heatmaps')%>

<h1>Heatmaps</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Report Server uid</th>
      <th colspan="2">Last updated</th>
    </tr>
  </thead>

  <tbody>
    <% @heatmaps.each do |heatmap| %>
      <tr>
        <td><%= link_to heatmap.location.name, heatmap %></td>
        <td><%= heatmap.location.uid %></td>
        <td colspan="2"><%= heatmap.updated_at.to_formatted_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @heatmaps %>