<%= render 'header' %>

<% @location_plans.each do |location_plan| %>
  <div class="panel panel-default">
    <%= render 'basic', location_plan: location_plan %>
  </div>
<% end %>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
