body#assignments_controller {
  div.container {
    width: 1000px;
  }
}

table.assignments_table {
  font-size: 80%;
  margin-top: 10px;
}

table.inner_shifts_table {
  td {
    // Inner table
    white-space: nowrap;
    cursor: pointer;
  }
}

#show_assignment_modal .modal-dialog {
  width: 700px;
}

.weekend {
  background-color: #fee;
}

// These two work in concert to position the total hours at the bottom of the day cell
// ------------------------------
.assignment_day {
  position: relative;
  height: 100%;
}

.assignment_day_total {
  position: absolute;
  bottom: 0;
  text-align: right;
}
// ------------------------------
