@import 'bootstrap/variables';
$breadcrumb-height: 35px;
$masthead-height: 50px;
$table-header-z-index: 1020;

nav.navbar {
  z-index: $table-header-z-index + 200;
}

nav#breadcrumbs {
  width: 100%;
  display: block;
  position: fixed;
  background: #d9d9d9;
  top: $masthead-height;
  border-top: 1px solid #6f6f6f;
  z-index: $table-header-z-index + 100;

  &:after {
    height: 0;
    clear: both;
    content: " ";
    font-size: 0;
    display: block;
    visibility: hidden;
  }

  a {
    margin: 0;
    float: left;
    display: block;
    color: #6f6f6f;
    position: relative;
    height: $breadcrumb-height;
    line-height: $breadcrumb-height;
    text-decoration: underline;

    &:first-of-type {
      margin-left: 145px;
    }
    &:hover {
      color: #5b5b5b;
      text-decoration: none;
    }
    &:active {
    }
    &:visited {
    }
    &:last-of-type {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: $gray;
    }
  }

  span {
    float: left;
    width: 12px;
    margin: 0 5px;
    display: block;
    position: relative;
    height: $breadcrumb-height;
    line-height: $breadcrumb-height;
  }
}
