$bk-aqua: #ADD8E6;
$breadcrumb-height: 35px;
$save-height: $breadcrumb-height + 85px;
$masthead-height: 50px;
$table-header-z-index: 1020;

#grades_controller {
  main {
   margin-top: 185px;
   position: relative;
  }

  #save {
    left:0;
    width: 100%;
    display: block;
    position: fixed;
    background: #fff;
    height: $save-height;
    top: $masthead-height + $breadcrumb-height;
    z-index: $table-header-z-index + 1;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */

    & > h3 {
      margin-left: 10%;
    }

    #statistics {
      width: 43%;
      float: left; margin-left: 2%;
      position: relative;

      div > h4:last-of-type {
        margin-bottom: 5px;
        position: relative;
      }
      div > h5:first-of-type {
        margin-top: 0;
      }
    }

    #actions {
      width: 31%;
      position: relative;
      text-align: right;
      height: $save-height;

      &:after {
        height: 0;
        clear: both;
        content: " ";
        font-size: 0;
        display: block;
        visibility: hidden;
      }

      .btn {
        margin-top: 7px;
        padding: 5px 12px;
        position: relative;
      }

      .btn-warning, button {
        margin-right: 28%;
        position: relative;
      }
      button { width: 193px; }
    }
  }

  #positions {
    $shift-hours: 285px;
    $totals-hours: 105px;

    a.add {
     display:block;
     width: $shift-hours;
    }

    .totals {
      float: left;
      height: 30px;
      margin: 0;
      line-height: 30px;
      width: 105px;
      position: relative;

      h5 {
        margin: 5px 0;
      }
    }
    & > h5, & > .totals {
      width: $shift-hours;
      line-height: 30px;
      margin: 35px 0 10px;
      float:left;
      position: relative;
      font-size: 120%;
    }
    & > h5 {
      clear: both;
      width: $shift-hours - 20px;
    }
    & > .totals {
      margin-left: 20px;
    }
    .shifts {
      clear: both;

      .shift-bar {
        padding: 0;

        div {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 30px;
          background-color: #2a62bc;
        }
      }
    }
  }
  table .header-fixed {
    position: fixed;
    background: #fff;
    top: $masthead-height + $save-height;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 1px solid #d5d5d5;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }

  .shrink {
    font-size: 14px;
    vertical-align: text-top;
  }

  .diff-header {
    float: left;
    padding-right: 30px;
  }

  .compressed {
    margin-top: 0px;
  }

  .month-grades {
    background-color: $bk-aqua;
  }
}
