$bk-aqua: #ADD8E6;
$save-height: 80px;
$masthead-height: 50px;
$table-header-z-index: 1020;

#grades_controller {
  main {
   margin-top: 135px;
  }

  #save {
    height: $save-height;
    display: block;
    position: relative;

    &.fixed {
      left:0;
      top: $masthead-height;
      width: 100%;
      z-index: $table-header-z-index + 1;
      position: fixed;
      background: #fff;

      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
         -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
              box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
    }

    button {
      margin: 25px 125px;
    }
  }

  #positions {
    $shift-hours: 285px;
    $totals-hours: 105px;

    a.add {
     background: red;
     display:block;
     width: $shift-hours;
    }

    .totals {
      background: red;
      float: left;
      height: 30px;
      margin: 0;
      line-height: 30px;
      width: 105px;
      position: relative;

      h5 {
        margin: 5px 0;
      }
    }
    & > h5, & > .totals {
      width: $shift-hours;
      line-height: 30px;
      margin: 35px 0 0;
      float:left;
      background: yellow;
      position: relative;
      font-size: 120%;
    }
    & > h5 {
      clear: both;
    }
    & > header {
    }
    .shifts {
      clear: both;

      .shift-bar {
        padding: 0;

        div {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 30px;
          background-color: #2a62bc;
        }
      }
    }
  }
  table .header-fixed {
    position: fixed;
    background: #fff;
    top: $masthead-height + $save-height;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 1px solid #d5d5d5;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }

  .shrink {
    font-size: 14px;
    vertical-align: text-top;
  }

  .diff-header {
    float: left;
    padding-right: 30px;
  }

  .compressed {
    margin-top: 0px;
  }

  .month-grades {
    background-color: $bk-aqua;
  }
}
