$bk-aqua: #ADD8E6;

#location_plans_controller {

  #details {
    width: auto;
    position: relative;
    margin-bottom: -70px;

    &>h5 {
      width: auto;
      display: block;
      margin-left: 17px;
    }

    dl {
      width: 63%;
      top: -106px;
      float:right;
      position: relative;
      border-left: 2px solid #000;

      dt, dd {
        margin-left: 15px;
      }

      dt {
        margin-top: 14px;

        &:first-of-type {
          margin-top: 0;
        }
      }
      dd {
        p {
          margin: 0;
        }

        time {
          white-space: nowrap;
          margin: 2px 4px 2px 0;
        }
      }
    }

    article {
      float:left;
      clear:left;
      width: 30%;
      margin: 20px;
      display: block;
      position: relative;

      img {
        float:left;
        display: block;
        position: relative;
        margin: 0 30px 10px 0;
      }

      header {
        display: block;
        font-weight: bold;
      }
    }
  }
  .shrink {
    font-size: 14px;
    vertical-align: text-top;
  }

  .diff-header {
    float: left;
    padding-right: 30px;
  }

  .compressed {
    margin-top: 0px;
  }

  .month-grades {
    background-color: $bk-aqua;
  }
}
