// Place all the styles related to the location_plans_controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bk-aqua: #ADD8E6;

#location_plans_controller {

  .shrink {
    font-size: 14px;
    vertical-align: text-top;
  }

  .diff-header {
    float: left;
    padding-right: 30px;
  }

  .compressed {
    margin-top: 0px;
  }

  .month-grades {
    background-color: $bk-aqua;
  }
}