<fieldset>
<div class="row form-group">
    <div class="col-sm-2">
      <%= f.input :doctors, required: true  %>
    </div>
    <div class="col-sm-2">
      <%= f.input :normal, required: true  %>
    </div>
    <div class="col-sm-2">
      <%= f.input :max, required: true  %>
    </div>
    <div class="col-sm-1 ">
      <br>
      <%= link_to_delete_speed "remove", f.object %>
    </div>
</div>
</fieldset>