<fieldset>
<div class="row form-group">
    <div class="col-sm-1">
      <%= f.input :doctors  %>
    </div>
    <div class="col-sm-1">
      <%= f.input :normal  %>
    </div>
    <div class="col-sm-1">
      <%= f.input :max  %>
    </div>
    <div class="col-sm-1">
      <%= link_to_delete_speed "remove", f.object %>
    </div>
</div>
</fieldset>